body {
  background-color: #DFE6DA;
}

h3 {
  text-align: center;
  color: #4b6043;
  font-family: 'Verdana', sans-serif;
  margin-bottom: 20px;
  font-size: 28px;
}

p {
  text-align:justify;
  color:#758467;
  font-size: 20px;
  line-height: 1.6;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#description {
  width: 40%;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#img {
  width: 50%;
}

#about-image {
  border-radius: 5px;
  margin-top: 20px;
  width: 500px;
  padding: 30px;

}

/* Navbar styling */
/* .navbar {
  background-color: #CBD5C0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px; 
}

.navbar a {
  color: #4b6043;
  text-decoration: none;
  margin-left: 20px; 
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  transition: background-color 0.3s; 
}

.navbar a:hover {
  background-color: #96AF88;
  padding: 10px 30px;
}

.navbar a.active {
  font-weight: bold; 
} */
